@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  background: #242424;
}

div[class*="leva"] select {
  background-color: #1f1f1f;
  color: white;
  border: 1px solid #333;
}

div[class*="leva"] select option {
  background-color: #1f1f1f;
  color: white;
}
